! rofi
rofi.modi: run
rofi.font: Space Mono 18
rofi.width: 100
rofi.lines: 3
!rofi.columns: 1
rofi.opacity: 85
!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #2f343f, #f3f4f5, #2f343f, #2f343f, #9575cd
rofi.color-urgent: #2f343f, #f3f4f5, #2f343f, #2f343f, #9575cd
rofi.color-active: #2f343f, #f3f4f5, #2f343f, #2f343f, #9575cd
rofi.color-window: #2f343f, #2f343f
rofi.bw: 0
!rofi.location: 2
rofi.padding: 475
rofi.fuzzy: false
